body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.container {
  position: relative;
  text-align: center;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  margin: 20px auto;
}

h1 {
  color: #007bff; /* Azul para destacar o título */
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave */
}

button:hover {
  background-color: #0056b3;
}

#arvore {
  margin-top: 20px;
  width: 100%;
  height: 500px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    align-items: center; /* Centraliza na vertical em telas menores */
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  button {
    width: 100%; /* Botão ocupa toda a largura em telas pequenas */
    margin-bottom: 10px;
  }

  #arvore {
    height: 400px; /* Reduz a altura da árvore em telas pequenas */
  }
}